
    /* header */
    header {
        width:100%;
        min-height: 400px;
        padding-top: 3em;
    }
    #Home {
        background: no-repeat lightgray url("images2/cliff_ocean.jpg");
        background-size: 100% 400px;
    }
    #activities{
        background: no-repeat lightgray url("images2/runfly.jpg");
        background-size: 100% 400px;
    }
    #contact {
        background: no-repeat lightgray url("images2/cliff_rock.jpg");
        background-size: 100% 400px;
    }
    #Cliffs {
        background:no-repeat lightgray url("images2/forest_cliff.jpg");
        background-size: 100% 400px;
    }
    header{
        width:100%;
        min-height:275px;
    }
    .main-header {
        background-color: rgb(255,255,255,0.8);
        width:700px;
        margin:2em auto 0 auto;
        min-height: 100px;
        height: 100px;
    }
    .main-header .logo img {
        width:100px;
        height:100px;
        margin:0 2em 0 0;
        float:left;
    
    

    }
    /* Navigation */
    .main-menu {
        margin-left: 227px;
        font-weight: 400;
    }
    
    .main-menu ul li {
        list-style-type: none;
        display: block;
        float: left;
        padding-left: 25px;
        padding-right: 25px;
        border-left: 1px solid rgba(202,204,202,0.6);
        line-height: 100px;
        text-transform: uppercase;
        font-size: 14px;
    }
    button{
        float:right;
    }
    .main-menu ul li a {
        text-decoration: none;
        color: #888;
    }
    
    .main-menu ul li a:hover {
        color: #9ed034;
    }
    
    .main-menu ul li.active {
        background: #9ed034;
        border: none;
    }
    
    .main-menu ul li.active a {
        color: #fff;
    }
    
    /* main */
    main h1 {
        color:#9ed034;
        font:Arial, Helvetica, sans-serif; 
        margin-top: 100px;
        margin-right: 150px;
        margin-left: 80px;
        text-align:justify;
       

                        
    }
    main h2{
        font:Arial, Helvetica, sans-serif; 
        
        
        margin-right: 150px;
        margin-left: 80px;
        text-align: justify;
        vertical-align: bottom;


    }
    main h3{
        font:Arial, Helvetica, sans-serif; 
        
        
        margin-right: 150px;
        margin-left: 80px;
        text-align: justify;
        vertical-align: bottom;

    }

    main p{
        font:Arial, Helvetica, sans-serif;
        text-align:justify;
        
        letter-spacing: -0.5px;
        margin-right: 150px;
        margin-left: 80px;
        vertical-align: bottom;
    }
    main {
        background-color: #fff;
    }
    /* Partners */
    section {
        width:100%;
        background-color: #4288c3;

    }
    section #partners {
        width:1200px;
        padding:2em 0 2em 0;
        margin: 0 auto;
        text-align: center;
    }
    section #partners .partner {
        display:inline-block;
        margin:0 0.75em;
        padding: 1.3em 1.5em;
        background-color: #fff;
        border-radius:50%;

    }
    section #partners .partner img {
        width: 90px;
        height: 90px;
    }
    /* Footer */
    footer{
        width: 100%;
        height: 155px;
        padding-bottom: 1em;
        background-color: #ecfab8;
    }
    footer #nondisclaimer .copy {
        padding: 3.5em 3.5em 3.5em 13em;
        float:left;
        font-size:0.9em;               
        
    }
    footer #nondisclaimer .social {
        padding:2.5em;
        margin-right:9.25em;
        float:right;
    }
    footer #disclaimer {
        clear:both;

    }
    footer #disclaimer p {
        font-size: 0.85em;
        text-align: center;
    }
    footer #nondisclaimer .social .fa{
        padding:15px;
        font-size: 15px;
        width:15px;
        text-align: center;
        text-decoration: none;
        margin:0 4px;
        border-radius: 50%;
    }
        

    footer #nondisclaimer .social .fa:hover{
        opacity: 0.7;

    }
    footer #nondisclaimer .social .fa-facebook{
        background: #3B5998;
        color:white;
    }
    footer #nondisclaimer .social .fa-twitter{
        background: #55ACEE;
        color:white;
    }
    footer #nondisclaimer .social .fa-instagram{
        background: #125688;
        color:white;
    }

    /* activites */
    table {
        width: 1100px;
        margin:4em auto 0 auto;
    }
    caption{
        background-color: #852b18;
        height:40px;
        color:#fff;
        font-size: 1.3em;
        font-weight: bold;
        padding-top: 1em;
    }
    thead{
        background: #bde1ff;
    }
    tbody{
        background: #eeffe6;
        text-align: center;

    }
    th,td{
        width:225px;
        height:75px;
        vertical-align: middle;
        border: solid 1px #852b18;
    }
    th:first-child{
        width:125px;
        height:50px;
        background: #4977d1;
        color:#fff;
    }
    td:first-child{
        font-weight:bold;
        background: #bde1ff;
    }
  
    
    /* contact*/
     #contact h1{
        color: #9ed034;
        
    }
    .phone span:first-child{
        font-weight: bold;
        
        
   
    }
    .email span:first-child{
        font-weight: bold;
        
    }
    form{
        width:1300px;
        
        
    }
    legend{
        color:#125688;
        font-weight: bolder;
        text-transform: uppercase;
    }
    fieldset{
        border-color: #9ed034;
        margin: 20px 100px 20px 80px;
        padding-left: 30px;
        height: 800px;
    }
    .phone,.email{
        padding-left: 80px;
    }
    label {
        font-weight: bold;
        margin:20px 0 10px 0;
        width:800px;
        
    }
    .textbox label,.radio label,.selectmenu label{
        display:block;
        
    }
    .textbox input[type="text"],
    .textbox input[type="email"] {
         width: 60%;
    }
    .radio label input[type="radio"] {
        
        align-items:center;
        margin-left: 10px;
    }

    
    select{
        width:25%;
        height:30%;
        text-align: center;
    }
    .selectmenu select{
        display:inline-block
    }
      textarea{
        display: block;
        width:60%;
        height: 200px;

      }
       
      


      
      /* Cliff */
    #images {
    
        width:1500px;
        
        

    }
    .image {
        position: relative;
        display: inline-block;
        margin:20px;
      }
      
      .caption {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color:#852b18;
        width: 480px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        line-height: 100%;
        
      }
      #timeofday {
        font: Arial, Helvetica, sans-serif;
        color:#3a3a3a;
        text-align: center;
        background: linear-gradient(0deg, rgba(251,215,139,1) 0%, rgba(118,213,245,1) 100%);
        height:50px;
        padding-top: 25px;
      }
    #Clock{
        color:#125688;
    }
form .button input {
    width: 8em;
    height:2.5em;
    font-size:1.2em;
    font-weight:bold;
    /*background-color: #4977d1;*/
    color:#ffffff;
    border:none;
    display: flex;
    justify-content: flex-end;

}
.randomcode {
    display: flex;
    align-items: center;
    padding-left:345px;
    
  }
  #codes {
    background-color: #888;
    width: 6em;
    height: 2em;
    font-size: 1em;
    
    color:black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.randomcode input[type="text"],
.randomcode p {
    margin-left: 2em;
}

#activities main #displaySelected {
    visibility: hidden; 
    margin: 0 auto;
    width: 600px;
    border: 2px solid #9ed034;
    padding: 0.75em;
}


#activities main #displaySelected #result,
#activities main #displaySelected #sendinfo {
    display: inline-block;
    margin: 0;
}

#activities main #result {
    min-height: 50px;
    width: 300px;
    padding: 0;
}

#activities main #result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}

#activities main #displaySelected #sendinfo input[type="email"] {
    width: 200px;
}
#header{
    width:100%;
    min-height:275px;
}
#navbar{
    background-color: rgba(38,41,61,0.7);
    
}    
#nav-link{
    color:rgb(255,255,255);
} 

#images ul {
    display: flex;
    flex-wrap: wrap;
    
}


@media (max-width: 600px) {
    #images ul {
        flex-direction: column;
        align-items: center;
    }
}
#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 600px) {
    #partners {
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 601px) and (max-width: 900px) {
    #partners {
        flex-direction: column;
        align-items: center;
    }
    .partner {
        width: 50%;
    }
}


@media (min-width: 901px) {
    .partner {
        flex: 1;
    }
}     

  
      
      
      
      
      
      

      
      
    
    



   
    
        
    
    
